
<div parallax id="title-image" [config]="{initialValue: 0, ratio: .2}">



    <mat-grid-list cols="6" rowHeight="1:1" style="padding-top:15%">
      <mat-grid-tile>
        <button mat-icon-button color="basic" >
            <mat-icon class="white-icon">arrow_back_ios</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=4 [rowspan]=1 >

      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-icon-button color="basic" >
            <mat-icon class="white-icon">arrow_forward_iost</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <h1 class="titleText">November Series</h1>
</div>

<div >
  <p class="centerText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum consequat ante, id dignissim sapien lobortis scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus elementum augue tempor, egestas erat quis, lacinia libero. Vivamus gravida vulputate dui et varius. Integer interdum augue sed nisi interdum, a venenatis enim laoreet. Donec et accumsan purus.
      Etiam ullamcorper pretium accumsan. Suspendisse enim dolor, facilisis sagittis sem nec, tincidunt mattis dolor. Maecenas condimentum, nisl at consequat commodo, tellus ligula mattis arcu, vel pulvinar sapien justo facilisis massa. Aenean rhoncus dui erat, at gravida ipsum dapibus sit amet. Nullam fermentum velit elit, a rutrum neque consequat sit amet. Maecenas at metus vel metus sodales pharetra et ac nibh.
      <br>
      <br>
      Suspendisse in velit placerat, pulvinar quam nec, molestie nibh. Praesent vestibulum aliquet euismod. Cras blandit, tellus quis laoreet aliquet, arcu erat semper purus, in faucibus sapien arcu in lorem. In egestas, nisi ornare volutpat convallis,
      ligula tortor bibendum sapien, vel fringilla libero ligula ac nisi. Aenean a ullamcorper arcu. Aliquam sit amet placerat ante. Pellentesque eleifend risus at tincidunt sollicitudin. Nullam eget erat vitae dui dapibus facilisis. Sed at interdum dui. Aliquam erat volutpat. Nam vel enim at diam cursus sodales at
      ultrices risus. Donec tristique enim varius urna tempus placerat sed nec sem. Duis rhoncus nec erat hendrerit bibendum. Maecenas sollicitudin velit non nisl ullamcorper, nec accumsan lorem mattis. Phasellus nec nulla ultricies, aliquet nibh quis, congue nunc. Mauris quis gravida erat.
      <br>
      <br>
      Ut sit amet molestie est. Donec tempor orci eu neque eleifend rhoncus. Fusce in dolor fermentum, dapibus nunc vel, molestie augue. Fusce id fermentum ante. Aenean commodo risus magna, mattis euismod nisi euismod non. Pellentesque ultricies orci sapien, dignissim accumsan enim interdum a. Etiam eget nisi vel ex
      laoreet fringilla. Suspendisse sed gravida ante. Nunc sed ante molestie, pellentesque massa ut, ullamcorper tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi sit amet sem ut nibh gravida fermentum sed ut lectus. Nam ac nibh sed elit ultricies sollicitudin eget
      ac lorem. Nam vel tellus nisi. Vestibulum dictum lectus eget leo aliquam, at euismod metus rutrum.
      <br>
      <br>
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut faucibus ligula facilisis blandit hendrerit. Proin quis gravida dui. Sed gravida tristique blandit. Sed nec sapien magna. In tincidunt, felis eu tristique ullamcorper, mauris risus mollis lacus, et auctor sapien nisi et ipsum.
      Nulla laoreet ante at tellus hendrerit, id condimentum ligula dictum. Nam augue diam, facilisis in augue vehicula, luctus euismod velit. Nulla sit amet pellentesque ligula. Ut feugiat gravida molestie. In pellentesque, mauris et efficitur laoreet, est nibh consequat orci, quis
      condimentum odio purus et mauris. Pellentesque diam turpis, aliquam at massa nec, egestas dictum quam. Cras semper vitae odio quis ultrices.
      <br>
      <br>
      In suscipit rutrum ullamcorper. Aenean eleifend pulvinar dapibus. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed facilisis ultrices vehicula. Vivamus condimentum faucibus mattis.
      Duis pellentesque porttitor dapibus.
  </p>
</div>

<!-- <div class='centreImages'>
  <img alt="secondary-image" src='../../assets/farah2.jpg' style="margin-left:20%; width:40%; transform: rotate(-90deg)">
  <img src='../../assets/farah1.jpg' style='margin-left:50%; width:40%'>
</div> -->

<!-- <div class="center">
  <mat-grid-list cols="2" rowHeight="1:1" style="margin-top:100px">
  <mat-grid-tile>
    <img alt="secondary-image" src='../../assets/farah2.jpg' style="width:60%; transform: rotate(-90deg)">
  </mat-grid-tile>
  <mat-grid-tile>
      <img src='../../assets/farah1.jpg' style='width:75%'>
  </mat-grid-tile>
</mat-grid-list>
</div> -->



<div class="wrapper">
  <footer style='margin-top:200px; display: block; background-color:rgba(248, 248, 248, 0.904)'>
    <mat-divider></mat-divider>
    <table style='padding-left:10%; padding-top:50px; text-align:left'>
      <tr>
        <th>Contact</th>
        <th>Social</th>
        <th>Other</th>

      </tr>

      <tr>

        <td>
          <a href="about">farahBahudin@gmail.com</a>
        </td>

        <td>
          <a href="https://www.instagram.com/farahbdn_/"> <img src="https://img.icons8.com/material/48/000000/instagram-new.png" style="width:50%; height:50%"> </a>
        </td>

        <td>

        </td>


      </tr>

      <tr>
        <td>
          Mobile: 0427102394
        </td>
      </tr>

    </table>

  </footer>

</div>


