

<header>
  Images Div
</header>

<div class="wrapper">
  <footer style='margin-top:200px; display: block; background-color:rgba(248, 248, 248, 0.904)'>
    <mat-divider></mat-divider>
    <table style='padding-left:10%; padding-top:50px; text-align:left'>
      <tr>
        <th>Contact Information</th>
        <th>Burrtios</th>
        <th>Other</th>

      </tr>

      <tr>

        <td>
          <a href="about">farahBahudin@gmail.com</a>
        </td>

        <td>
          🌯🌯🌯
        </td>

        <td>

        </td>


      </tr>

      <tr>
        <td>
          Mobile: 0427102394
        </td>
      </tr>

    </table>

  </footer>

</div>
