
<!-- Portfolio Image Mosaic -->

<div class="center" [@showPortfolio]="stateName">
  <mat-grid-list gutterSize=8px cols="6" rowHeight="4:5" style="margin-top:50px">

    <!-- Row 1 -->

    <mat-grid-tile colspan="2" rowspan=2>
      <!-- <div parallax id="title-image" [config]="{initialValue: 0, ratio: .2}"> -->
      <img alt="secondary-image" src='../../assets/clarissa2.png' style="width:95%;">
      <!-- </div> -->

    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <img src='../../assets/farah1.jpg' style='width:95%'>
    </mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=1>
      <img src='../../assets/clarissa3.png' style='width:95%'>
    </mat-grid-tile>

    <!-- Row 2 -->


    <mat-grid-tile>
      <!-- <div id='backgroundImage'></div> -->
      <img src='../../assets/Sophie2.JPG' style='width:95%'>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=2>
      <img src='../../assets/Sophie1.JPG' style='width:95%'>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
      <img src='../../assets/clarissa1.png' style='width:95%'>
    </mat-grid-tile>

  </mat-grid-list>

</div>


<!-- Footer -->

<div class="wrapper">
  <footer style='margin-top:200px; display: block; background-color:rgba(248, 248, 248, 0.904)'>
    <mat-divider></mat-divider>
    <table style='padding-left:10%; padding-top:50px; text-align:left'>
      <tr>
        <th>Contact</th>
        <th>Social</th>
        <th>Other</th>

      </tr>

      <tr>

        <td>
          farahBahudin@gmail.com
        </td>

        <td>
          <a href="https://www.instagram.com/farahbdn_/" target="_blank"> <img src="https://img.icons8.com/material/48/000000/instagram-new.png" style="width:50%; height:50%"> </a>
        </td>

        <td>

        </td>


      </tr>

      <!-- <tr>
        <td>

        </td>
      </tr> -->

    </table>

  </footer>

</div>
