
<div class="center" [@showPortfolio]="stateName">
  <mat-grid-list gutterSize=8px cols="6" rowHeight="4:5" style="margin-top:100px">

    <!-- Row 1 -->

    <mat-grid-tile colspan="2" rowspan=2>
      <img alt="secondary-image" src='../../assets/clarissa2.png' style="width:95%;">
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <img src='../../assets/farah1.jpg' style='width:95%'>
    </mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=1>
      <img src='../../assets/clarissa3.png' style='width:95%'>
    </mat-grid-tile>

    <!-- Row 2 -->


    <mat-grid-tile>
      <img src='../../assets/Sophie2.JPG' style='width:95%'>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=2>
      <img src='../../assets/Sophie1.JPG' style='width:95%'>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
      <img src='../../assets/clarissa1.png' style='width:95%'>
    </mat-grid-tile>

  </mat-grid-list>

</div>

<div class="wrapper">
  <footer style='margin-top:200px; display: block; background-color:rgba(248, 248, 248, 0.904)'>
    <mat-divider></mat-divider>
    <table style='padding-left:10%; padding-top:50px; text-align:left'>
      <tr>
        <th>Contact Information</th>
        <th>Burritos</th>
        <th>Other</th>

      </tr>

      <tr>

        <td>
          <a href="about">farahBahudin@gmail.com</a>
        </td>

        <td>
          🌯🌯🌯
        </td>

        <td>

        </td>


      </tr>

      <tr>
        <td>
          Mobile: 0427102394
        </td>
      </tr>

    </table>

  </footer>

</div>
