
<nav class="navbar-header" >
  <!--

    Home Button

  -->

  <a mat-button color="link" class="navbar-buttons"
    (mouseenter)="matMenuTrigger.closeMenu()" (mouseenter)="matMenuTriggerAbout.closeMenu()" routerLink="home">

    <span>Home</span>

  </a>

  <!--

    About Button

  -->


  <button mat-button color="link" class="navbar-buttons" mat-menu.hasBackdrop=false
    [matMenuTriggerFor]="about" #matMenuTriggerAbout="matMenuTrigger" (mouseenter)="matMenuTriggerAbout.openMenu()"
    (mouseenter)="matMenuTrigger.closeMenu()" routerlink="about">

    <span>About</span>

  </button>


  <!-- menu for about button -->
  <mat-menu hasBackdrop=false #about="matMenu">
    <div (mouseleave)="matMenuTriggerAbout.closeMenu()">
      <button mat-menu-item color="primary" routerLink="about">Contact</button>
    </div>
  </mat-menu>


  <!--

    Series Button

  -->

  <button mat-button color="link" class="navbar-buttons"
    [matMenuTriggerFor]="menu" #matMenuTrigger="matMenuTrigger" (mouseenter)="matMenuTrigger.openMenu()"
    (mouseenter)="matMenuTriggerAbout.closeMenu()" >

    <span>Work</span>

  </button>

`<!-- Menu for series button -->
  <mat-menu hasBackdrop=false #menu="matMenu" xPosition="after">
    <div (mouseleave)="matMenuTrigger.closeMenu()">
      <button mat-menu-item routerLink="series">November Series</button>

    </div>
  </mat-menu>


</nav>

<!-- Logo Image -->
<div style="text-align: center; margin-top: 50px" >
  <img alt="Logo" src="src\assets\Logo.JPG" style="width:40%; height:40%">

</div>



<router-outlet></router-outlet>
