.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.navbar-header {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  padding: 7px 16px;
  background-color:white;
  /* background-color:#3f51b5; */
  box-shadow: 0px 3px 4px rgba(36, 36, 36, 0.4);
  z-index:10;
}

.navbar-buttons {
  margin-right: 25px;
  /* color:#fff; */
}
