.titleText {
    position: absolute;
    top:45%;
    left:75%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:8vmin;


}
.centerText {
    margin-left:30%;
    margin-right:30%;
    font-size:2vmin;
}

@media screen and (max-width: 600px) {
    .centerText {
        margin-left:10%;
        margin-right:10%;
        font-size:2vmin;
    }
}

*[parallax] {
    position:relative;
    width: 100%;
    height:40%;
    min-height:600px;
    text-align:center;
    background-size: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
}
@media screen and (max-width: 1000px) {
    *[parallax] {
        position:relative;
        width: 100%;
        height:40%;
        min-height:500px;
        text-align:center;
        background-size: 100%;
        margin-top: 1%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 800px) {
    *[parallax] {
        position:relative;
        width: 100%;
        height:40%;
        min-height:400px;
        text-align:center;
        background-size: 100%;
        margin-top: 1%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 650px) {
    *[parallax] {
        position:relative;
        width: 100%;
        height:40%;
        min-height:300px;
        text-align:center;
        background-size: 100%;
        margin-top: 1%;
        margin-bottom: 3%;
    }
}




#title-image {
    background-image: url('../../assets/farah4.jpg');
}

.secondary-container {
    margin-top:100px;
    margin-bottom: 100px;
}

.footer {
  margin: 100px, 20%, 20%, 100px;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}
